.root {
  display: flex;
  overflow: hidden;
  height: 100vh;
  background: var(--bg-canvas);
}

.app {
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.main {
  overflow: auto;
  flex: 1;
  min-width: 0;
}
