.root {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100vh;
  background: var(--bg-canvas);
}

.body {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.main {
  overflow: auto;
  flex: 1;
}
